// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #FFF;
$grey-white: #f5f5f5;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$yellow: #ffed4a;
$green: #2daf39;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$orange: #ff8c00;

// Puzzle color
$pcolor0: #ea8c19;
$pcolor1: #5d943a;
$pcolor2: #943a42;
$pcolor3: #933a94;
$pcolor4: #2d3bab;
$pcolor5: #1b7cab;
$pcolor6: #237d54;
$pcolor7: #d8b741;
$pcolor8: #1d1d1d;
$pcolor9: #d4d3d3;
