// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@font-face {
    font-family: "Modum";
    src: url(../font/Modum.ttf) format("truetype");
}

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// scss files
@import 'fileList';
@import 'menu';
@import 'permission';
@import 'shop';
@import 'recipe-list';
