ul{padding: 0;}
.bg-title-red{
    background-color: red;
}
.bg-title-darkorange{
    background-color: darkorange;
}
.bg-title-dodgerblue{
    background-color: dodgerblue;
}

#open-logout{
    color: inherit;
    text-decoration: inherit;
    font-weight: bold;
}

#menu{
    a{
        color: inherit;
        text-decoration: inherit;
    }
    .container{
        width: 100%;
        li{
            position: relative;
            display: inline-flex;
            font-family: "Nunito", sans-serif;
            font-size: 20px;
            border-bottom: #FFF solid 3px;
            padding: 0 15px;
        }
        .submenu{
            display: flex;
            position: absolute;
            top: 35px;
            z-index: 10;
            padding: 0;
            background-color: $body-bg;
            .hide-menu{
                display: none;
            }
            ul{
                text-align: center;
                li{
                    padding: 0;
                    width: 100%;
                }
            }
        }
        .red-menu:hover{
            //color: white;
            //background-color: red;
            color: red;
            border-bottom: red solid 3px;
        }
        .red-menu.selected-menu{
            color: red;
            border-bottom: red solid 3px;
        }
        .orange-menu:hover{
            //color: white;
            //background-color: darkorange;
            color: darkorange;
            border-bottom: darkorange solid 3px;
        }
        .orange-sub-menu:hover{
            background-color: darkorange;
        }
        .orange-menu.selected-menu{
            color: darkorange;
            border-bottom: darkorange solid 3px;
        }
        .blue-menu:hover{
            //color: white;
            //background-color: dodgerblue;
            color: dodgerblue;
            border-bottom: dodgerblue solid 3px;
        }
        .blue-menu.selected-menu{
            color: dodgerblue;
            border-bottom: dodgerblue solid 3px;
        }
    }
}
