#column-name{
    display: flex;
    flex-direction: row;
    span{
        text-align: center;
        width: 25%;
        padding: 10px 0;
    }
}
.user-row{
    display: flex;
    flex-direction: row;
    .crud-action{
        width: auto;
    }
    .table-box{
        text-align: center;
        width: 25%;
    }
    .btn{
        border: black 1px solid;
    }
    .btn-delete{
        background-color: #e3342f;
    }
    .btn-update{
        background-color: #ffc107;
    }
}
