#recipe-list{
    #search-recipe-input{
        input{
            padding: 5px 10px;
            margin: 3px 0;
            width: -webkit-fill-available;
        }
    }
    #search-result{
        max-height: 500px;
        overflow: hidden;
    }
    .hide{
        display: none;
    }
}
