
#show-shop-list{
    color: black;
    border: $orange 2px solid;
    background-color: $orange;
    width: inherit;
    padding: 5px;
    margin: 5px;
    &:hover{
        border: #d8b284 2px solid;
    }
}
#shop{
    //css recipe
    #recipe-list{
        .btn-new-recipe{
            color: black;
            border: $orange 2px solid;
            background-color: $orange;
            width: inherit;
            &:hover{
                border: #d8b284 2px solid;
            }
        }
        .meat{
            border: #ecbcba 3px solid;
            border-radius: 5px;
        }

    }
    #recipe-form{
        .btn-group-sm{
            text-align: center;
            .btn-delete{
                background-color: $orange;
                &:hover{
                    background-color: #ecbcba;
                }
            }
            .btn-save{
                background-color: $orange;
                &:hover{
                    background-color: #cbecd9;
                }
            }
        }
    }
    .item-shop{
        padding: 5px 10px;
        border: #cbecd9 3px solid;
        border-radius: 5px;
        margin: 3px 0;
        cursor: pointer;
    }
    input, textarea{
        border: none;
        background-color: #e8e8e8;
        padding: 5px;
        margin: 5px;
    }

    //css ingredient
    #select-ingredient{
        #ingredient-selector{
            border: #ffe0b9 3px solid;
            border-radius: 5px;
            padding: 3px 5px;
            cursor: pointer;
            width: fit-content;
            .select-arrow{
                float: right;
                padding: 0 5px 0 15px;
            }
            .select-show::before{
                content: '+';
            }
            .select-hide::before{
                content: '-';
            }
        }
        .inactive{
            display: none;
        }
        .active{
            position: absolute;
            height: 200px;
            overflow-y: auto;
            background-color: #FFF;
        }
        #select-content{
            padding: 3px;
            border: #eaeaea 1px solid;
            #create-input{
                padding: 5px 0 0 0;
                form{
                    text-align: center;
                    .btn-new-ingredient{
                        color: black;
                        border: $orange 2px solid;
                        background-color: $orange;
                        width: inherit;
                    }
                }
            }
            //start filter
            #search-ingredient-input{
                input{
                    width: 85%;
                    margin: 0;
                }
                .reset{
                    background-color: #e8e8e8;
                    width: 15%;
                    padding: 6px 5px 7px 5px;
                }
                .reset::before{
                    content: 'x';
                }
            }
            #search-result{
                .remove-ingredient{
                    color: red;
                    width: 10px;
                    height: 10px;
                    margin: 0px 4px 0px 12px;
                    display: none;
                }
                .ingredient-display{
                    display: inline-flex;
                }
            }
            //end filter
        }
        ul{
            margin: 0;
            padding: 0;
            li.hide{
                display: none;
            }
            #reset-filter{

            }
            #add-ingredient{

            }
            .attached-ingredient{
                list-style: none;
                margin: 3px;
                padding: 3px 3px;
                border: #cbecd9 2px solid;
                border-radius: 5px;
                display: inline-flex;
            }
            .meat{
                border: #ecbcba 2px solid;
            }
            .remove-ingredient{
                color: red;
                width: 10px;
                height: 10px;
                margin: 0px 4px 0px 12px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}
