<template>
    <div id="select-ingredient" class="col-md-2" v-if="Number.isInteger(this.recipeId)">
        <div id="ingredient-selector" @click="toggleIngredientSelector()">
            <span>add ingredient <span class="select-arrow" v-bind:class="{ 'select-show': !this.stateSelector, 'select-hide': this.stateSelector }"></span></span>
        </div>
        <div id="select-content" v-bind:class="{ active: stateSelector, inactive: !stateSelector}">
            <div id="search-ingredient-input">
                <input placeholder="ex : lardon" @input="applyFilter()" v-model="searchInput" type="text">
                <span @click="cleanFilter()" class="reset"></span>
            </div>
            <ul id="search-result">
                <li @mouseenter="startDisplay(ingredient.id)" @mouseleave="endDisplay(ingredient.id)" v-for="(ingredient, i) in ingredients" v-bind:class="{ hide: ingredient.hide }">
                    <span @click="attachIngredient(ingredient.id)">{{ ingredient.name }}</span> <div :id="'remove-ingredient-' + ingredient.id" class="remove-ingredient" @click="deleteIngredient(ingredient.id)">x</div>
                </li>
            </ul>
            <div id="create-input" v-if="this.showCreate === 0">
                <form @submit.prevent="addIngredient">
                    <span>Create a new ingredient :</span>
                    <input type="text" placeholder="nom" v-model="ingredient.name">
                    <label>meat</label><input type="checkbox" v-model="ingredient.meat">
                    <button type="submit" class="btn-new-ingredient btn btn-primary">Create and add</button>
                </form>
            </div>
        </div>
        <div>
            <ul>
                <li v-for="ingredient in currentRecipeIngredients" class="attached-ingredient" v-bind:class="{ meat: ingredient.meat}"> {{ ingredient.name }} <span class="remove-ingredient" @click="removeIngredientRecipe(ingredient.id)">x</span></li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['recipeId','userToken'],
        data() {
            return {
                ingredients: [],
                ingredient: {
                    'name': '',
                    'meat': false,
                },
                currentRecipeIngredients: [],
                ingredient_id: '',
                searchInput: '',
                showCreate: 1,
                overDuration: 3000,
                displayTimer: null,
                stateSelector: false
            }
        },
        watch: {
            recipeId: function() {
                if(this.recipeId){
                    this.toggleIngredientSelector(true);
                    this.fetchIngredientsExluced(this.recipeId);
                    this.fetchRecipeIngredients(this.recipeId);
                } else {
                    this.fetchIngredients();
                    this.cleanIngredients();
                }
            }
        },
        created(){
            this.fetchIngredients();
        },
        methods: {
            fetchIngredients()
            {
                fetch(`api/ingredients?token=${this.userToken}`)
                    .then(res => res.json())
                    .then(res => {
                        this.ingredients = res;
                    });
            },
            fetchIngredientsExluced(recipeId)
            {
                fetch(`api/ingredients/exclude/${recipeId}?token=${this.userToken}`)
                    .then(res => res.json())
                    .then(res => {
                        this.ingredients = res;
                    });
            },
            fetchRecipeIngredients(recipeId)
            {
                fetch(`api/ingredients/recipe/${recipeId}?token=${this.userToken}`)
                    .then(res => res.json())
                    .then(res => {
                        this.currentRecipeIngredients = res;
                    });
            },
            attachIngredient(id)
            {
                if(Number.isInteger(id)){
                    fetch(`api/ingredients/recipe/link?token=${this.userToken}`, {
                        method: 'post',
                        body: JSON.stringify({'recipe': this.recipeId, 'ingredient': id}),
                        headers: {
                            'content-type': 'application/json'
                        }
                    })
                        .then(res => {
                            this.cleanFilter();
                            this.fetchIngredientsExluced(this.recipeId);
                            this.fetchRecipeIngredients(this.recipeId);
                        });
                }
            },
            removeIngredientRecipe(id)
            {
                fetch(`api/ingredients/recipe/unlink/${id}/${this.recipeId}?token=${this.userToken}`, {
                    method: 'delete'
                })
                .then(data => {
                    this.fetchIngredientsExluced(this.recipeId);
                    this.fetchRecipeIngredients(this.recipeId);
                })
                .catch(err => console.log(err));
            },
            cleanIngredients()
            {
                this.currentRecipeIngredients = [];
            },

            // select
            toggleIngredientSelector(force = false)
            {
                this.cleanFilter();
                this.resetIngredientForm();
                if (force)
                    this.stateSelector = false;
                 else
                    this.stateSelector = !this.stateSelector;
            },

            // filter
            applyFilter()
            {
                let searched = this.searchInput;
                this.showCreate = 0;
                this.ingredients.forEach((element, key) => {
                    element.hide = !element.name.toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "").includes(searched.toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, ""));
                    if(element.hide === false)
                        this.showCreate++;
                });
            },
            cleanFilter()
            {
                this.searchInput = "";
                this.applyFilter();
            },

            // crud ingredient
            startDisplay(ingredientId)
            {
                this.displayTimer = setTimeout(() => {
                    this.$el.querySelector(`#remove-ingredient-${ingredientId}`).classList.add("ingredient-display");
                }, this.overDuration);
            },
            endDisplay(ingredientId)
            {
                clearTimeout(this.displayTimer);
                this.$el.querySelector(`#remove-ingredient-${ingredientId}`).classList.remove("ingredient-display");
                this.displayTimer = false;
            },
            addIngredient()
            {
                fetch(`api/ingredients?token=${this.userToken}`, {
                    method: 'post',
                    body: JSON.stringify(this.ingredient),
                    headers: {
                        'content-type': 'application/json'
                    }
                })
                    .then(res => res.json())
                    .then(data => {
                        this.cleanFilter();
                        this.attachIngredient(data.id);
                    })
                    .catch(err => console.log(err));
            },
            resetIngredientForm()
            {
                this.ingredient.name = '';
                this.ingredient.meat = false;
            },
            deleteIngredient(id)
            {
                if(confirm('are you sure?')) {
                    fetch(`api/ingredients/${id}?token=${this.userToken}`, {
                        method: 'delete'
                    })
                    .then(data => {
                        this.fetchIngredientsExluced(this.recipeId);
                    })
                    .catch(err => console.log(err));
                }
            }
        }
    }
</script>
