<template>
    <div class="row">
        <div class="col-md-2" id="recipe-list">
            <div id="search-recipe-input">
                <input placeholder="ex : pates" @input="applyFilter()" v-model="searchInput" type="text">
                <span @click="cleanFilter()" class="reset"></span>
            </div>
            <div  id="search-result">
                <div v-for="recipe in recipes" v-bind:key="recipe.id">
                    <div class="item-shop" v-bind:class="{ meat: recipe.meat, hide: recipe.hide }" @click="initEditRecipe(recipe)">{{ recipe.name }}</div>
                </div>
            </div>
            <button @click="initNewRecipe()" class="btn-new-recipe btn btn-primary">New recipe</button>
        </div>
        <div id="recipe-form" class="col-md-8">
            <form @submit.prevent="addRecipe">
                <div class="form-group">
                    <input type="hidden" class="form-control" placeholder="name" v-model="recipe.user_id">
                    <input type="text" class="form-control" placeholder="name" v-model="recipe.name">
                    <textarea class="form-control" placeholder="steps" v-model="recipe.steps">
                    </textarea>
                    <div class="btn-group-sm">
                        <button type="submit" class="btn btn-save">Save</button>
                        <span v-if="this.edit !== false" @click="deleteRecipe(recipe.id)" class="btn btn-delete">Delete</span>
                    </div>
                </div>
            </form>
        </div>
        <ingredient-select :recipeId="recipe.id" :userToken="this.userToken"/>
    </div>
</template>

<script>
    import IngredientSelect from './IngredientSelect'
    export default {
        props: ['userId', 'userToken'],
        components: {
            IngredientSelect
        },
        data() {
            return {
                recipes: [],
                recipe: {
                    'id': '',
                    'name': '',
                    'steps': '',
                    'user_id': '',
                    'meat': ''
                },
                recipe_id: '',
                edit: false,
                searchInput: '',
            }
        },
        created(){
            this.fetchRecipes();
        },
        methods: {
            fetchRecipes()
            {
                fetch(`api/recipes?token=${this.userToken}`)
                    .then(res => res.json())
                    .then(res => {
                        this.recipes = res;
                    })
            },
            deleteRecipe(id) {
                if(confirm('are you sure?')){
                    fetch(`api/recipes/${id}?token=${this.userToken}`, {
                        method: 'delete'
                    })
                        .then(data => {
                            this.initNewRecipe();
                            this.fetchRecipes();
                        })
                        .catch(err => console.log(err));
                }
            },
            addRecipe() {
                if(this.edit === false){
                    this.recipe.user_id = this.userId;
                    fetch(`api/recipes?token=${this.userToken}`, {
                        method: 'post',
                        body: JSON.stringify(this.recipe),
                        headers: {
                            'content-type': 'application/json'
                        }
                    })
                    .then(res => res.json())
                    .then(data => {
                        this.edit = true;
                        this.recipe.id = data.id;
                        this.fetchRecipes();
                    })
                    .catch(err => console.log(err));
                } else {
                    fetch(`api/recipes/${this.recipe.id}?token=${this.userToken}`, {
                        method: 'put',
                        body: JSON.stringify(this.recipe),
                        headers: {
                            'content-type': 'application/json'
                        }
                    })
                    .then(res => res.json())
                    .then(data => {
                        this.fetchRecipes();
                    })
                }
            },
            initEditRecipe(recipe) {
                this.edit = true;
                this.recipe.id = recipe.id;
                this.recipe.name = recipe.name;
                this.recipe.steps = recipe.steps;
                this.recipe.user_id = recipe.user_id;
            },
            initNewRecipe() {
                this.edit = false;
                this.recipe.id = "";
                this.recipe.name = "";
                this.recipe.steps = "";
                this.recipe.user_id = "";
            },

            //filter recipe
            applyFilter() {
                let searched = this.searchInput;
                console.log(searched);
                this.recipes.forEach((element, key) => {
                    element.hide = !element.name.toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "").includes(searched.toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, ""));
                    if(element.hide === false)
                        this.showCreate++;
                });
            }
        }
    }
</script>
