#login-puzzle{

    .puzzle-piece{
        margin: 15px 0;
        height: 200px;

        background-color: darkorange;
    }
    .class-pcolor0{
        background-color: $pcolor0;
    }
    .class-pcolor1{
        background-color: $pcolor1;
    }
    .class-pcolor2{
        background-color: $pcolor4;
    }
    .class-pcolor3{
        background-color: $pcolor3;
    }
    .class-pcolor4{
        background-color: $pcolor2;
    }
    .class-pcolor5{
        background-color: $pcolor5;
    }
    .class-pcolor6{
        background-color: $pcolor6;
    }
    .class-pcolor7{
        background-color: $pcolor7;
    }
    .class-pcolor8{
        background-color: $pcolor8;
    }
    .class-pcolor9{
        background-color: $pcolor9;
    }
}
