#modal{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index:1050;
    top: 100px;
    display:none;
    .modal-content{
        top: 50px;
        margin: auto;
        padding: 10px 15px;
    }
    .close{
        width: fit-content;
        cursor: pointer;
    }
}

.show-popup{
    display: block!important;
}

