.navbar{
    margin-bottom: 15px;
    .title-red{
        color: red;
    }
    .title-darkorange{
        color: darkorange;
    }
    .title-dodgerblue{
        color: dodgerblue;
    }
    .title-green{
        color: green;
    }
    .navbar-nav{
        flex-direction: row;
        .nav-item{
            position: relative;
            display: inline-flex;
            font-family: "Nunito", sans-serif;
            font-size: 20px;
            border-bottom: #FFF solid 3px;
            padding: 0 15px;
            margin: 5px;
        }

        .red-menu:hover{
            //color: white;
            //background-color: red;
            color: red;
            border-bottom: red solid 3px;
        }
        .red-menu.selected{
            color: red;
            border-bottom: red solid 3px;
        }

        .orange-menu:hover{
            //color: white;
            //background-color: darkorange;
            color: darkorange;
            border-bottom: darkorange solid 3px;
        }
        .orange-menu.selected{
            color: darkorange;
            border-bottom: darkorange solid 3px;
        }

        .blue-menu:hover{
            //color: white;
            //background-color: dodgerblue;
            color: dodgerblue;
            border-bottom: dodgerblue solid 3px;
        }
        .blue-menu.selected{
            color: dodgerblue;
            border-bottom: dodgerblue solid 3px;
        }

        .green-menu:hover{
            //color: white;
            //background-color: red;
            color: green;
            border-bottom: green solid 3px;
        }
        .green-menu.selected{
            color: green;
            border-bottom: green solid 3px;
        }
    }
}
