.shop-list-container {
    margin: 0px auto;
    .button{
        background-color: $green;
    }
    .shop-list-header{
        input{
            width: 50px;
            margin: 5px 10px;
        }
    }

    .shop-list{
        #column-recipes, #column-ingredients {
            background-color: #d4ffd7;
            padding: 15px;
            .element-list{
                input{
                    margin: 5px;
                }
                label{
                    margin: 5px;
                }
            }
        }
    }

    .shop-list-default-button {
        float: right;
    }
}
