.triangle-pascal-main{
    .content-triangle{
        padding: 5px;
        margin: 15px;
        //background-color: white;
        .pascal-row{
            margin: 5px 0;
            display: flex;
            justify-content: center;
            white-space:nowrap;
            .pascal-cel{
                padding: 0 3px;
                margin: 0 3px;
                border-radius: 3px;
                width: 35px;
                text-align: center;
                border: 1px solid $orange;
            }
            .pascal-cel:hover{
                background-color: #ff5a63;
            }
            .light-on{
                background-color: #1890ab;
            }
        }
    }
}
