<template>
    <div>
        <home-menu @contentType="updateContent"/>
        <div v-if="currentContent === 'Presentation'">
            <presentation/>
        </div>
        <div v-if="currentContent === 'pascal'">
            <triangle-pascal/>
        </div>
        <div v-if="currentContent === 'recursive'">
            <recursive-component/>
        </div>
<!--        <div v-if="currentContent === 'gol'">-->
<!--            <game-of-life/>-->
<!--        </div>-->
        <div v-if="currentContent === 'loginPuzzle'">
            <login-puzzle @popupLoginState="toogleLogin"/>
        </div>
        <div v-if="currentContent === 'shopList'">
            <shop-list/>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                currentContent: 'Presentation',
                popupState: false,
            };
        },
        methods: {
            updateContent(value) {
                this.currentContent = value;
            },
            toogleLogin() {
                let modal = document.querySelector("#modal");
                modal.classList.toggle("show-popup");
            }
        }
    }
</script>
