<template>
    <div class="navbar shadow-sm">
        <div class="navbar-brand" @click="changeContent('Presentation')" v-bind:class="titleClass">
            Boite à truc
        </div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item orange-menu" @click="changeContent('pascal')" v-bind:class="{ 'selected': currentContent === 'pascal' }">
                Triangle de pascal
            </li>
            <li class="nav-item red-menu" @click="changeContent('recursive')" v-bind:class="{ 'selected': currentContent === 'recursive'}">
                recursive composant
            </li>
            <!--<li class="nav-item blue-menu" @click="changeContent('gol')" v-bind:class="{ 'selected': currentContent === 'gol'}">
                le jeu de la vie
            </li>-->
            <li class="nav-item green-menu" @click="changeContent('shopList')" v-bind:class="{ 'selected': currentContent === 'shopList'}">
                Shop list
            </li>
        </ul>
        <div>
            <button class="btn" @click="changeContent('loginPuzzle')">Login</button>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                currentContent: '',
            };
        },
        computed: {
            titleClass() {
                let titleClass = '';
                switch (this.currentContent) {
                    case 'pascal':
                        titleClass = 'title-darkorange';
                        break;
                    case 'recursive':
                        titleClass = 'title-red';
                        break;
                    case 'gol':
                        titleClass = 'title-dodgerblue';
                        break;
                    case 'shopList':
                        titleClass = 'title-green';
                        break;
                    case 'Presentation':
                        titleClass = 'title-black';
                        break;
                }
                return titleClass;
            }
        },
        methods: {
            changeContent(content) {
                if (this.currentContent !== content){
                    this.$emit('contentType', content);
                    this.currentContent = content;
                }
            },
        }
    }
</script>
