<template>
    <div class="container" id="login-puzzle">
        <h1>Login</h1>
        <div class="row">
            Résolvez cette énigme pour accéder au login :
        </div>
       <div class="row justify-content-around">
           <div class="col-md-4 puzzle-piece" @contextmenu="previousColor($event, 'piece1')" v-bind:class="piece1Value" @click="nextColor('piece1')"></div>
           <div class="col-md-4 puzzle-piece" @contextmenu="previousColor($event, 'piece2')" v-bind:class="piece2Value" @click="nextColor('piece2')"></div>
       </div>
        <div class="row justify-content-around">
            <div class="col-md-4 puzzle-piece" @contextmenu="previousColor($event, 'piece3')" v-bind:class="piece3Value" @click="nextColor('piece3')"></div>
            <div class="col-md-4 puzzle-piece" @contextmenu="previousColor($event, 'piece4')" v-bind:class="piece4Value" @click="nextColor('piece4')"></div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                colors: {
                    0: 'class-pcolor0',
                    1: 'class-pcolor1',
                    2: 'class-pcolor2',
                    3: 'class-pcolor3',
                    4: 'class-pcolor4',
                    5: 'class-pcolor5',
                    6: 'class-pcolor6',
                    7: 'class-pcolor7',
                    8: 'class-pcolor8',
                    9: 'class-pcolor9',
                },
                key: [4, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                piece1: 0,
                piece2: 0,
                piece3: 0,
                piece4: 0,
            };
        },
        created(){
            this.randomCode();
        },
        computed: {
            piece1Value() {
                return this.colors[this.piece1];
            },
            piece2Value() {
                return this.colors[this.piece2];
            },
            piece3Value() {
                return this.colors[this.piece3];
            },
            piece4Value() {
                return this.colors[this.piece4];
            },
        },
        methods: {
            nextColor(piece) {
                this[piece] = (this[piece] < 9) ? this[piece] + 1 : 0;
                this.validPuzzle();

            },
            previousColor(event, piece) {
                event.preventDefault();
                this[piece] = (this[piece] > 0) ? this[piece] - 1 : 9;
                this.validPuzzle();
            },
            randomCode() {
                this.piece1 = 0;
                this.piece2 = 0;
                this.piece3 = 0;
                this.piece4 = 0;
                /*this.piece1 = this.getRandomValue();
                this.piece2 = this.getRandomValue();
                this.piece3 = this.getRandomValue();
                this.piece4 = this.getRandomValue();*/
            },
            getRandomValue(){
                return Math.floor(Math.random() * Math.floor(9));
            },
            validPuzzle() {
                let testArray = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
                testArray[this.piece1]++;
                testArray[this.piece2]++;
                testArray[this.piece3]++;
                testArray[this.piece4]++;

                let wrong = false;
                this.key.forEach((element, index) => {
                    if (element !== testArray[index])
                        wrong = true;
                    if (index === this.key.length - 1 && !wrong)
                        this.displayLogin();
                });
            },
            displayLogin() {
                this.$emit('popupLoginState', true);
            }
        }
    }
</script>
