<template>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">MultiTools</h1>
            <p>Multi-tools is a web solution where I implement some tools usefull for me.
                It's made for a deployment on a rasberry and a personnal use.</p>
            <p>still in developpement.</p>
            <p><a href="https://gitlab.com/Greymald/multi-tools" target="_blank">Link to the repository</a></p>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
            };
        },
        methods: {

        }
    }
</script>
