<template>
    <div class="recursive-component container">
        <div class="row">
            <h1>Display json object</h1>
        </div>
        <div class="row">
            <textarea v-model="jsonIfy" class="col-md-6">

            </textarea>
            <div class="col-md-6 displayed-object shadow-sm">
                <recursive-row :jsonObject="jsonObject" :depth="0"/>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                jsonObject: {
                    'array1': {
                        'elem1': 'coucou',
                        'elem2': 'pouet',
                    },
                    'array2': {
                        'subArray': {
                            'elem1': 'pouet',
                            'elem2': 'tagada',
                            'elem3': 'tsouin',
                            'elem4': 'tsouin',
                        }
                    },
                    'text': 'check dat',
                },
            };
        },
        computed: {
            jsonIfy: {
                get: function(){
                    return JSON.stringify(this.jsonObject);
                },
                set: function(value){
                    this.jsonObject = JSON.parse(value);
                },
            }
        },
        methods: {

        }
    }
</script>
