<template>
    <div class="">
        <div v-for="(element, index) in jsonObject">
            <div :style="indent"  @click="toogleChild">{{ index }}</div>
            <div  v-if="typeof element === 'object' && displayChild">
                <recursive-row :jsonObject="element" :depth="depth + 1"/>
            </div>
            <div :style="indentBis"  v-else-if="displayChild">
                {{ element }}
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['jsonObject', 'depth'],
        computed: {
            indent() {
                return { transform: `translate(${this.depth * 20}px)` }
            },
            indentBis() {
                return { transform: `translate(${(this.depth + 1) * 20}px)` }
            }
        },
        data() {
            return {
                displayChild: false,
            };
        },
        methods: {
            toogleChild() {
                this.displayChild = !this.displayChild;
            },
        }
    }
</script>
