<template>
    <div class="container">
        <div class="shop-list-container">
            <div class="row shop-list-header">
                <h1>shop list</h1>
                <form class="form-inline col-md-12"  @submit.prevent="generate">
                    <div class="form-group mb-2">
                        <label class="">Number of lunch</label>
                        <input type="number" v-model="nb">
                    </div>
                    <div class="form-group mb-2">
                        <label class="">Number of vegetarian lunch</label>
                        <input type="number" v-model="nbVege">
                    </div>
                    <button type="submit" class="btn button mb-2">generate</button>
                </form>
            </div>

            <div class="shop-list row shadow-sm">
                <div v-if="Object.keys(recipeList).length" id="column-recipes" class="col-md-6">
                    <h2>Recipe list</h2>
                    <ul>
                        <li v-for="recipe in recipeList" v-bind:key="recipe.id">
                            <div>{{ recipe.name }}</div>
                        </li>
                    </ul>
                </div>

                <div id="column-ingredients" class="col-md-6" v-if="Object.keys(ingredientList).length">
                    <h2>Ingredient list</h2>
                    <input type="text" v-model="toAdd"> <button class="btn button mb-2" @click="addToTOthers">add</button>
                    <div v-for="(number, ingredient) in ingredientList">
                        <span class="element-list"><input :id="'ingredient-' + ingredient" type="checkbox"><label :for="'ingredient-' + ingredient">{{ ingredient }} x {{ number }}</label></span>
                    </div>
                    <div v-for="element in otherList">
                        <span class="element-list"><input :id="'other-' + element" type="checkbox"><label :for="'other-' + element">{{ element }}</label></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    export default {
        props: ['userToken'],
        data() {
            return {
                nb: 4,
                nbVege: 2,
                ingredientList: [],
                recipeList: {},
                toAdd: '',
                otherList: []
            }
        },
        watch: {
            nbVege: function(val) {
                if (val >= this.nb)
                    this.limitNbVege();
            }
        },
        methods: {
            limitNbVege: function(){
                this.nbVege = this.nb;
            },
            generate: function() {
                fetch(`api/recipes/get-random?token=${this.userToken}&nb=${this.nb}&nbVege=${this.nbVege}`)
                .then(res => res.json())
                .then(data => {
                    this.ingredientList = data.ingredientList;
                    this.recipeList = data.recipeList;
                });
            },
            addToTOthers: function() {
                if (this.toAdd !== '') {
                    this.otherList.push(this.toAdd);
                    this.toAdd = '';
                }
            }
        }
    };
</script>
