<template>
    <div class="triangle-pascal-main container">
        <div class="row">
            <h1>Triangle de pascal</h1>
            <span class="col-md-12">Entrez le nombre de ligne du triangle de pascal à afficher <input v-model="pascalRow" type="number"></span>
        </div>
        <div class="content-triangle shadow-sm" v-if="pascalRow">
            <div v-for="(row, rowIndex) in globalTriangle" class="row pascal-row">
                <div v-for="(element, elementIndex) in row" class="pascal-cel" @mouseover="hightlight(rowIndex, elementIndex)" @mouseleave="turnOff(rowIndex, elementIndex)" v-bind:class="{ 'light-on': element.lightOn }">
                    {{element.value}}
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                pascalRow: 0,
                globalTriangle: {},
            };
        },
        watch: {
            pascalRow(){
                if (this.pascalRow >= 13)
                    this.pascalRow = 13;
                this.globalTriangle = {};

                for (let i = 0; i < this.pascalRow; i++) {

                    if (i === 0)
                        this.globalTriangle[i] = {0: {value: 1}};
                    else {
                        let prevRow = this.globalTriangle[i - 1];
                        let newRow = {};
                        for (let j = 0; j < Object.keys(prevRow).length + 1; j++) {
                            newRow[j] = {};
                            if (typeof prevRow[j - 1] !== "undefined" && typeof prevRow[j] !== "undefined"){
                                newRow[j].value = prevRow[j - 1].value + prevRow[j].value;
                            } else {
                                newRow[j].value = 1;
                            }
                            newRow[j].lightOn = false;
                        }
                        this.globalTriangle[i] = newRow;
                    }
                }
            }
        },
        methods: {
            hightlight(rowIndex, elementIndex) {
                if (this.globalTriangle[rowIndex - 1] && this.globalTriangle[rowIndex - 1][elementIndex - 1])
                    this.globalTriangle[rowIndex - 1][elementIndex - 1].lightOn = true;
                if (this.globalTriangle[rowIndex - 1] && this.globalTriangle[rowIndex - 1][elementIndex])
                    this.globalTriangle[rowIndex - 1][elementIndex].lightOn = true;
                this.$forceUpdate();
            },
            turnOff(rowIndex, elementIndex) {
                if (this.globalTriangle[rowIndex - 1] && this.globalTriangle[rowIndex - 1][elementIndex - 1])
                    this.globalTriangle[rowIndex - 1][elementIndex - 1].lightOn = false;
                if (this.globalTriangle[rowIndex - 1] && this.globalTriangle[rowIndex - 1][elementIndex])
                    this.globalTriangle[rowIndex - 1][elementIndex].lightOn = false;
                this.$forceUpdate();
            }
        }
    }
</script>
